body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212; /* Sfondo scuro tipo cinema */
  color: #ffffff;
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Reset box model */
* {
  box-sizing: border-box;
}
